.nodrag {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.postboard {
  /* here we Use Display grid */
  display: flex;
  width: fit-content;
  min-width: 300px;
  height: 750px;
  min-height: 750px;
  margin-left: 10px;
  border-radius: 20px;
  overflow: auto;
  flex-direction: column;
  border: solid 2px red;
  background-color: #dddddd;
}
.postboard::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.contentsContainer{
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
} 
.MovieTextContainer {
  /* width: 1000px;
  height: 750px; */
  position: absolute;
  Top: 210px;
  left: 470px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  border: solid gray 1px;
  border-radius: 15px;
  background-color: yellow;
}
.MTcomponent {
  text-align: start;
  font-size: 1.5rem;
  color: red;
}
.MTtitle {
  font-family:'Times New Roman', Times, serif;
  font-size: 3rem;
  font-weight: 1000;
  
}
