.nodrag {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.postboard {
  /* here we Use Display grid */
  display: flex;
  width: 350px;
  min-width: 300px;
  height: 750px;
  min-height: 750px;

  margin-left: 10px;
  padding-left: 30px;
  padding-top: 30px;
  border-radius: 20px;
  overflow: auto;
  flex-direction: column;
  background:rgba(255,255,255,0.5);
}
.postboard::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.contentsContainer{
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
} 

